.category {
  background: white;
  border-radius: 1rem;
  flex: 1;
  /* width: 9rem; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.category > h4 {
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding-bottom: 1rem;
}
