.main {
  display: flex;
  flex-direction: column;
  background: #f9faff;
  padding-top: 4rem;
}

.main > .search {
  flex-basis: 5rem;
  margin-top: 2rem;
}

.main > .content {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 30rem;
  padding: 0 2rem;
  overflow-y: scroll;
}

.todos-title{
  padding: 0 2rem;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}

.logo {
  position: absolute;
  top: 0;
  right: 2rem;
  color: #8a57ff;
}
