.main {
  display: flex;
  flex-direction: column;
  background: #f9faff;
}

.main > .search {
  flex-basis: 5rem;
}

.main > .content {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 30rem;
  padding: 1rem;
  overflow-y: scroll;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

