.create-todo {
	padding: 1rem;
	position: absolute;
	bottom: 1rem;
	border-radius: 1rem;
	align-self: flex-end;
	z-index: 100;
	background: #0e1f54;
	opacity: 0.85;
	box-shadow: rgba(16, 1, 46, 1) 0px 4px 12px;
}

.create-todo:hover {
	opacity: 1;
}
