.main {
  display: flex;
  flex-direction: column;
}

.main > .search {
  flex-basis: 5rem;
  background: green;
  flex-shrink: 0;
  flex-grow: 0;
}

.main > .content {
  flex-grow: 1;
}

.search {
}

.content {
  display: flex;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  background: #f9faff;
  flex-basis: 30rem;
  /* flex-shrink: 0; */
  flex-grow: 0;
  padding: 1rem;
  overflow-y: scroll;
}

.categories {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
}

.body {
}
