
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 60%;
  height: 100%;
  display: flex;
}

#root > section {
  flex-shrink: 0;
  flex-grow: 0;
}

#root > main {
  flex-grow: 1;
}

#side-panel-container {
  width: 40%;
  height: 100%;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}